<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %><br>
  </div>

  <div class="field">
    <%= f.label :icon %> <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">( Ref )</a><br>
    <%= f.text_field :icon, class: "form-control" %><br>
  </div>

  <div class="checkbox">
    <%= f.check_box :public? %>
    <%= f.label :public? %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
