<% if @phrases.count >= 1 %>
  <ol>
    <h1>Results: <%= @phrases.count %></h1>
    <% @phrases.each do |p| -%>
      <li><h2><%= link_to "#{p.chinese}", phrase_path(p.id) %></h2>
      Definition: <%= p.definition %>
      <p><i class="fa fa-arrow-right"></i> <%= link_to "#{p.list.name}", list_path(p.list.id) %></p>
      </li>
    <% end -%>
  </ol>
<% else %>
  <h3>No results found!</h3>
  <p>
    Try checking out these resources for phrases to add to your lists:
    <ul>
      <li><%= link_to "Wikitravel.org", "http://wikitravel.org/en/Chinese_phrasebook_-_Traditional", :target => "_blank" %></li>
      <li><%= link_to "Fodors.com", "http://www.fodors.com/language/chinese/basic-phrases/", :target => "_blank" %></li>
      <li><%= link_to "Dummies.com", "http://www.dummies.com/how-to/content/the-essentials-of-chinese-words-and-phrases-for-tr.html", :target => "_blank" %></li>
    </ul>
  </p>
<% end %>
